html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Oswald", Helvetica, Tahoma, sans-serif;
  font-size: 16px;
  color: #707070;
  background: #ccc;
}

a {
  color: #515151;
}

a:hover {
  color: #ffe600;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: #000;
}

h1, .h1 {
  font-size: 65px;
  margin: 30px 0;
}

h2, .h2 {
  font-size: 30px;
  margin: 20px 0;
}

h3, .h3 {
  font-size: 20px;
  margin: 15px 0;
}

h4, .h4 {
  font-size: 16px;
  margin: 10px 0;
}

h5, .h5 {
  font-size: 14px;
  margin: 5px 0;
}

h6, .h6 {
  font-size: 12px;
  margin: 2px 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 479.9px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 480px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 719.9px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 720px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 959.9px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 960px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1139.9px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1140px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.container--collapse {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.container-fluid--collapse {
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.row--collapse {
  margin-left: 0;
  margin-right: 0;
}

.row--collapse > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1 {
  flex: 0 0 8.33333%;
}

.col-xs-1.col-xs-1--right {
  float: right;
}

.col-xs-2 {
  flex: 0 0 16.66667%;
}

.col-xs-2.col-xs-2--right {
  float: right;
}

.col-xs-3 {
  flex: 0 0 25%;
}

.col-xs-3.col-xs-3--right {
  float: right;
}

.col-xs-4 {
  flex: 0 0 33.33333%;
}

.col-xs-4.col-xs-4--right {
  float: right;
}

.col-xs-5 {
  flex: 0 0 41.66667%;
}

.col-xs-5.col-xs-5--right {
  float: right;
}

.col-xs-6 {
  flex: 0 0 50%;
}

.col-xs-6.col-xs-6--right {
  float: right;
}

.col-xs-7 {
  flex: 0 0 58.33333%;
}

.col-xs-7.col-xs-7--right {
  float: right;
}

.col-xs-8 {
  flex: 0 0 66.66667%;
}

.col-xs-8.col-xs-8--right {
  float: right;
}

.col-xs-9 {
  flex: 0 0 75%;
}

.col-xs-9.col-xs-9--right {
  float: right;
}

.col-xs-10 {
  flex: 0 0 83.33333%;
}

.col-xs-10.col-xs-10--right {
  float: right;
}

.col-xs-11 {
  flex: 0 0 91.66667%;
}

.col-xs-11.col-xs-11--right {
  float: right;
}

.col-xs-12 {
  flex: 0 0 100%;
}

.col-xs-12.col-xs-12--right {
  float: right;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 480px) {
  .col-sm-1 {
    flex: 0 0 8.33333%;
  }
  .col-sm-1.col-sm-1--right {
    float: right;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
  }
  .col-sm-2.col-sm-2--right {
    float: right;
  }
  .col-sm-3 {
    flex: 0 0 25%;
  }
  .col-sm-3.col-sm-3--right {
    float: right;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
  }
  .col-sm-4.col-sm-4--right {
    float: right;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
  }
  .col-sm-5.col-sm-5--right {
    float: right;
  }
  .col-sm-6 {
    flex: 0 0 50%;
  }
  .col-sm-6.col-sm-6--right {
    float: right;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
  }
  .col-sm-7.col-sm-7--right {
    float: right;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
  }
  .col-sm-8.col-sm-8--right {
    float: right;
  }
  .col-sm-9 {
    flex: 0 0 75%;
  }
  .col-sm-9.col-sm-9--right {
    float: right;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
  }
  .col-sm-10.col-sm-10--right {
    float: right;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
  }
  .col-sm-11.col-sm-11--right {
    float: right;
  }
  .col-sm-12 {
    flex: 0 0 100%;
  }
  .col-sm-12.col-sm-12--right {
    float: right;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-pull-1 {
    right: 8.33333%;
  }
  .col-sm-pull-2 {
    right: 16.66667%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-4 {
    right: 33.33333%;
  }
  .col-sm-pull-5 {
    right: 41.66667%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-7 {
    right: 58.33333%;
  }
  .col-sm-pull-8 {
    right: 66.66667%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-10 {
    right: 83.33333%;
  }
  .col-sm-pull-11 {
    right: 91.66667%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-push-1 {
    left: 8.33333%;
  }
  .col-sm-push-2 {
    left: 16.66667%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-4 {
    left: 33.33333%;
  }
  .col-sm-push-5 {
    left: 41.66667%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-7 {
    left: 58.33333%;
  }
  .col-sm-push-8 {
    left: 66.66667%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-10 {
    left: 83.33333%;
  }
  .col-sm-push-11 {
    left: 91.66667%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 720px) {
  .col-md-1 {
    flex: 0 0 8.33333%;
  }
  .col-md-1.col-md-1--right {
    float: right;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
  }
  .col-md-2.col-md-2--right {
    float: right;
  }
  .col-md-3 {
    flex: 0 0 25%;
  }
  .col-md-3.col-md-3--right {
    float: right;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
  }
  .col-md-4.col-md-4--right {
    float: right;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
  }
  .col-md-5.col-md-5--right {
    float: right;
  }
  .col-md-6 {
    flex: 0 0 50%;
  }
  .col-md-6.col-md-6--right {
    float: right;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
  }
  .col-md-7.col-md-7--right {
    float: right;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
  }
  .col-md-8.col-md-8--right {
    float: right;
  }
  .col-md-9 {
    flex: 0 0 75%;
  }
  .col-md-9.col-md-9--right {
    float: right;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
  }
  .col-md-10.col-md-10--right {
    float: right;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
  }
  .col-md-11.col-md-11--right {
    float: right;
  }
  .col-md-12 {
    flex: 0 0 100%;
  }
  .col-md-12.col-md-12--right {
    float: right;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 8.33333%;
  }
  .col-md-pull-2 {
    right: 16.66667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.33333%;
  }
  .col-md-pull-5 {
    right: 41.66667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.33333%;
  }
  .col-md-pull-8 {
    right: 66.66667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.33333%;
  }
  .col-md-pull-11 {
    right: 91.66667%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-1 {
    left: 8.33333%;
  }
  .col-md-push-2 {
    left: 16.66667%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.33333%;
  }
  .col-md-push-5 {
    left: 41.66667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.33333%;
  }
  .col-md-push-8 {
    left: 66.66667%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.33333%;
  }
  .col-md-push-11 {
    left: 91.66667%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 960px) {
  .col-lg-1 {
    flex: 0 0 8.33333%;
  }
  .col-lg-1.col-lg-1--right {
    float: right;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
  }
  .col-lg-2.col-lg-2--right {
    float: right;
  }
  .col-lg-3 {
    flex: 0 0 25%;
  }
  .col-lg-3.col-lg-3--right {
    float: right;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
  }
  .col-lg-4.col-lg-4--right {
    float: right;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
  }
  .col-lg-5.col-lg-5--right {
    float: right;
  }
  .col-lg-6 {
    flex: 0 0 50%;
  }
  .col-lg-6.col-lg-6--right {
    float: right;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
  }
  .col-lg-7.col-lg-7--right {
    float: right;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
  }
  .col-lg-8.col-lg-8--right {
    float: right;
  }
  .col-lg-9 {
    flex: 0 0 75%;
  }
  .col-lg-9.col-lg-9--right {
    float: right;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
  }
  .col-lg-10.col-lg-10--right {
    float: right;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
  }
  .col-lg-11.col-lg-11--right {
    float: right;
  }
  .col-lg-12 {
    flex: 0 0 100%;
  }
  .col-lg-12.col-lg-12--right {
    float: right;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.33333%;
  }
  .col-lg-pull-2 {
    right: 16.66667%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333%;
  }
  .col-lg-pull-5 {
    right: 41.66667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.33333%;
  }
  .col-lg-pull-8 {
    right: 66.66667%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333%;
  }
  .col-lg-pull-11 {
    right: 91.66667%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 8.33333%;
  }
  .col-lg-push-2 {
    left: 16.66667%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333%;
  }
  .col-lg-push-5 {
    left: 41.66667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.33333%;
  }
  .col-lg-push-8 {
    left: 66.66667%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333%;
  }
  .col-lg-push-11 {
    left: 91.66667%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1140px) {
  .col-xl-1 {
    flex: 0 0 8.33333%;
  }
  .col-xl-1.col-xl-1--right {
    float: right;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
  }
  .col-xl-2.col-xl-2--right {
    float: right;
  }
  .col-xl-3 {
    flex: 0 0 25%;
  }
  .col-xl-3.col-xl-3--right {
    float: right;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
  }
  .col-xl-4.col-xl-4--right {
    float: right;
  }
  .col-xl-5 {
    flex: 0 0 41.66667%;
  }
  .col-xl-5.col-xl-5--right {
    float: right;
  }
  .col-xl-6 {
    flex: 0 0 50%;
  }
  .col-xl-6.col-xl-6--right {
    float: right;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
  }
  .col-xl-7.col-xl-7--right {
    float: right;
  }
  .col-xl-8 {
    flex: 0 0 66.66667%;
  }
  .col-xl-8.col-xl-8--right {
    float: right;
  }
  .col-xl-9 {
    flex: 0 0 75%;
  }
  .col-xl-9.col-xl-9--right {
    float: right;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
  }
  .col-xl-10.col-xl-10--right {
    float: right;
  }
  .col-xl-11 {
    flex: 0 0 91.66667%;
  }
  .col-xl-11.col-xl-11--right {
    float: right;
  }
  .col-xl-12 {
    flex: 0 0 100%;
  }
  .col-xl-12.col-xl-12--right {
    float: right;
  }
  .col-xl-pull-0 {
    right: auto;
  }
  .col-xl-pull-1 {
    right: 8.33333%;
  }
  .col-xl-pull-2 {
    right: 16.66667%;
  }
  .col-xl-pull-3 {
    right: 25%;
  }
  .col-xl-pull-4 {
    right: 33.33333%;
  }
  .col-xl-pull-5 {
    right: 41.66667%;
  }
  .col-xl-pull-6 {
    right: 50%;
  }
  .col-xl-pull-7 {
    right: 58.33333%;
  }
  .col-xl-pull-8 {
    right: 66.66667%;
  }
  .col-xl-pull-9 {
    right: 75%;
  }
  .col-xl-pull-10 {
    right: 83.33333%;
  }
  .col-xl-pull-11 {
    right: 91.66667%;
  }
  .col-xl-pull-12 {
    right: 100%;
  }
  .col-xl-push-0 {
    left: auto;
  }
  .col-xl-push-1 {
    left: 8.33333%;
  }
  .col-xl-push-2 {
    left: 16.66667%;
  }
  .col-xl-push-3 {
    left: 25%;
  }
  .col-xl-push-4 {
    left: 33.33333%;
  }
  .col-xl-push-5 {
    left: 41.66667%;
  }
  .col-xl-push-6 {
    left: 50%;
  }
  .col-xl-push-7 {
    left: 58.33333%;
  }
  .col-xl-push-8 {
    left: 66.66667%;
  }
  .col-xl-push-9 {
    left: 75%;
  }
  .col-xl-push-10 {
    left: 83.33333%;
  }
  .col-xl-push-11 {
    left: 91.66667%;
  }
  .col-xl-push-12 {
    left: 100%;
  }
  .col-xl-offset-0 {
    margin-left: 0%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
}

.col-xs-first {
  order: -1;
}

.col-xs-last {
  order: 1;
}

@media (min-width: 480px) {
  .col-sm-first {
    order: -1;
  }
  .col-sm-last {
    order: 1;
  }
}

@media (min-width: 720px) {
  .col-md-first {
    order: -1;
  }
  .col-md-last {
    order: 1;
  }
}

@media (min-width: 960px) {
  .col-lg-first {
    order: -1;
  }
  .col-lg-last {
    order: 1;
  }
}

@media (min-width: 1140px) {
  .col-xl-first {
    order: -1;
  }
  .col-xl-last {
    order: 1;
  }
}

.row-xs-top {
  align-items: flex-start;
}

.row-xs-center {
  align-items: center;
}

.row-xs-bottom {
  align-items: flex-end;
}

@media (min-width: 480px) {
  .row-sm-top {
    align-items: flex-start;
  }
  .row-sm-center {
    align-items: center;
  }
  .row-sm-bottom {
    align-items: flex-end;
  }
}

@media (min-width: 720px) {
  .row-md-top {
    align-items: flex-start;
  }
  .row-md-center {
    align-items: center;
  }
  .row-md-bottom {
    align-items: flex-end;
  }
}

@media (min-width: 960px) {
  .row-lg-top {
    align-items: flex-start;
  }
  .row-lg-center {
    align-items: center;
  }
  .row-lg-bottom {
    align-items: flex-end;
  }
}

@media (min-width: 1140px) {
  .row-xl-top {
    align-items: flex-start;
  }
  .row-xl-center {
    align-items: center;
  }
  .row-xl-bottom {
    align-items: flex-end;
  }
}

.col-xs-top {
  align-self: flex-start;
}

.col-xs-center {
  align-self: center;
}

.col-xs-bottom {
  align-self: flex-end;
}

@media (min-width: 480px) {
  .col-sm-top {
    align-self: flex-start;
  }
  .col-sm-center {
    align-self: center;
  }
  .col-sm-bottom {
    align-self: flex-end;
  }
}

@media (min-width: 720px) {
  .col-md-top {
    align-self: flex-start;
  }
  .col-md-center {
    align-self: center;
  }
  .col-md-bottom {
    align-self: flex-end;
  }
}

@media (min-width: 960px) {
  .col-lg-top {
    align-self: flex-start;
  }
  .col-lg-center {
    align-self: center;
  }
  .col-lg-bottom {
    align-self: flex-end;
  }
}

@media (min-width: 1140px) {
  .col-xl-top {
    align-self: flex-start;
  }
  .col-xl-center {
    align-self: center;
  }
  .col-xl-bottom {
    align-self: flex-end;
  }
}

h1 {
  font-weight: 700;
  font-size: 65px;
  color: #fff;
  padding-top: 62px;
  margin-bottom: 47px;
  margin-bottom: 0;
  margin-top: 0;
}

h4 {
  font-weight: 400;
  color: #515151;
}

h3 {
  font-weight: 700;
  font-size: 30px;
}

.paragraph, .services-text, .paragraph-4 {
  color: #707070;
  font-weight: 300;
}

.services {
  color: #131316;
  font-size: 20px;
  font-weight: 700;
}

.hov-text {
  color: #FFE600;
  font-size: 30px;
}

.paragraph-2, .paragraph-3 {
  color: #FFF;
  font-size: 16.5px;
  font-weight: 300;
}

.services-2 {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
}

.nav-2 {
  text-transform: uppercase;
  color: #515151;
}

.paragraph-5 {
  color: #515151;
  font-size: 26px;
  font-weight: 400;
}

.text-p {
  color: #707070;
  font-size: 16px;
  font-weight: 300;
}

h2 {
  color: #000;
  font-size: 30px;
  font-weight: 700;
}

.text-h {
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
}

.paragraph-6 {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
}

.number {
  color: #FFF;
  font-size: 39px;
  font-weight: 700;
}

.number-text {
  color: #FFE600;
  font-size: 16px;
  font-weight: 400;
}

.services-3 {
  color: #515151;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.services-3-p {
  color: #707070;
  font-size: 16px;
  font-weight: 300;
}

.john {
  color: #FFE600;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.john-text {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
}

.paragraph-7 {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.skills {
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-p-2 {
  color: #707070;
  font-size: 15px;
  font-weight: 300;
}

.slogan {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}

.text-slogan {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}

.buttons {
  margin-bottom: 20px;
}

.btn {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 19px;
  width: 230px;
  cursor: pointer;
  padding: 13px;
  border: none;
  background-color: #ffe600;
  text-transform: uppercase;
  color: #131316;
}

.btn:hover {
  background-color: #fff;
  color: #ffe600;
}

.btn--marg {
  margin-bottom: 65px;
}

.btn--lg {
  width: 170px;
  color: #fff;
  text-transform: none;
  padding: 13.5px;
}

.btn--lg:hover {
  color: #ffe600;
  background: #131316;
}

.btn--ld {
  width: 171px;
  color: #fff;
  font-size: 14px;
  padding: 17px;
}

.btn--ld:hover {
  color: #ffe600;
  background: #131316;
}

.btn--mx {
  width: 204px;
  color: #161f32;
  font-size: 14.5px;
  padding: 16.5px;
}

.btn--down {
  width: 60px;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}

.btn--down:hover {
  color: #131316;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

.form__group {
  margin-bottom: 15px;
}

.form__control {
  display: block;
  width: 100%;
  height: 60px;
  padding: 19px 10px;
  font-size: 15px;
  line-height: 1.4;
  color: #707070;
  background-color: #fff;
  background-image: none;
  border: 1px solid #131316;
  border-radius: 0;
}

.form__control:-moz-placeholder {
  color: #36363f;
  opacity: 1;
}

.form__control::-moz-placeholder {
  color: #36363f;
  opacity: 1;
}

.form__control::-webkit-input-placeholder {
  color: #36363f;
}

.form__control:-ms-input-placeholder {
  color: #36363f;
}

.form__control::placeholder {
  color: #36363f;
}

.form__control.placeholder {
  color: #36363f !important;
}

.form__control:focus:-moz-placeholder {
  color: transparent;
}

.form__control:focus::-moz-placeholder {
  color: transparent;
}

.form__control:focus::-webkit-input-placeholder {
  color: transparent;
}

.form__control:focus:-ms-input-placeholder {
  color: transparent;
}

.form__control:focus::placeholder {
  color: transparent;
}

.form__control:focus {
  border-color: #66afe9;
  outline: 0;
}

.form__control::placeholder {
  color: #36363f;
  opacity: 1;
}

.form__control[disabled], .form__control[readonly],
fieldset[disabled] .form__control {
  background-color: #ccc;
  opacity: 1;
}

.form__control[disabled],
fieldset[disabled] .form__control {
  cursor: disabled;
}

.form__label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.form_help {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #b0b0b0;
}

textarea.form__control {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

.wrapper {
  overflow: hidden;
}

.header {
  overflow: hidden;
  margin: 0 auto;
  background: #122A2F;
  padding: 20px;
}

.header__logo--logotip {
  float: left;
  padding: 0;
}

.navigation {
  padding-left: 0;
  margin: 0;
  list-style: none;
  text-align: justify;
  font-size: 0.001px;
  vertical-align: top;
  width: 100%;
}

.navigation:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.navigation__item {
  display: inline-block;
  vertical-align: top;
  width: 16%;
  position: relative;
  padding-left: 5px;
}

.navigation__item:last-child:before {
  display: none;
}

.navigation__item:before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  z-index: 1;
  background: #ffe600;
}

.navigation__item a {
  color: #fff;
  display: block;
  font-size: 14px;
}

.navigation__item a:hover {
  color: #ffe600;
}

.bg-nav {
  width: 42%;
  overflow: hidden;
  float: right;
  padding-top: 15px;
  position: absolute;
  z-index: 3;
  right: 0;
}

.bg-nav > .navigation > .navigation__item > .submenu a {
  display: inline-block;
}

.bg-nav > .navigation > .navigation__item > .submenu {
  display: none;
}

.bg-nav-2 {
  width: 284px;
  margin: 0 auto;
}

.bg-nav-2 > .navigation > .navigation__item {
  display: block;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid gray;
}

.bg-nav-2 > .navigation > .navigation__item > .submenu {
  display: none;
}

#cizburger {
  display: none;
}

#cizburger #nav-toggle {
  width: 40px;
  float: right;
  left: -54px;
  margin-top: 7px;
  cursor: pointer;
}

#saydbar {
  width: 100%;
  background: #122A2F;
  left: -768px;
  position: absolute;
  z-index: 2;
  transition: left 0.5s linear;
  top: 60px;
}

#saydbar.visible {
  left: 0;
}

@media (max-width: 1024px) {
  .bg-nav {
    width: 60%;
  }
}

@media (min-width: 769px) {
  .bg-nav-2 {
    display: none;
  }
}

@media (max-width: 768px) {
  .bg-nav {
    display: none;
  }
  #saydbar {
    top: 99px;
  }
  #cizburger {
    display: block;
  }
}

@media (max-width: 320px) {
  .header__logo {
    text-align: center;
  }
  #saydbar {
    top: 99px;
  }
  #saydbar.navigation__item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #nav-toggle {
    position: absolute;
    left: 132px;
    top: 70px;
  }
  #cizburger {
    display: inline-block;
    overflow: hidden;
    float: right;
    padding-top: 20px;
  }
  #cizburger #nav-toggle {
    display: inline-block;
    position: static;
  }
  #nav-toggle {
    float: right;
    padding-top: 5px;
  }
}

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffe600;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.table {
  background-color: #11343a;
  width: 100%;
  height: 100vh;
  display: table;
  text-align: center;
  position: relative;
}

.tr {
  display: table-row-group;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

.tt {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
}

.list {
  overflow: hidden;
}

.text-h1 {
  float: left;
  width: 100%;
  background: #122A2F;
  margin: 0;
}

.text-h1-small {
  width: 686px;
  margin: 0 auto;
}

.container {
  background: rgba(255, 99, 71, 0.2);
}
